<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link href="https://learn.hardcoding.ru/static/assets/css/bootstrap.min.css"
        rel="stylesheet" type="text/css">
  <link href="https://learn.hardcoding.ru/static/assets/css/core.css"
        rel="stylesheet" type="text/css">
  <link href="https://learn.hardcoding.ru/static/assets/css/components.css"
        rel="stylesheet" type="text/css">
  <link href="https://learn.hardcoding.ru/static/assets/css/icons.css"
        rel="stylesheet" type="text/css">
  <link href="https://learn.hardcoding.ru/static/assets/css/pages.css"
        rel="stylesheet" type="text/css">
  <link href="https://learn.hardcoding.ru/static/assets/css/responsive.css"
        rel="stylesheet" type="text/css">
</head>
<body>
{% block content %}{% endblock %}
</body>
</html>